.App {
  text-align: center;
  
  

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.particles{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: -1;

}


